.hwrapper {
  background: #ffffff;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
  border-radius: 0 0 30px 30px;
  padding-bottom: 50px;
  max-width: 1600px;
  margin: 0 auto;
  margin-bottom: 50px;
}

.hcontainer {
  max-width: 1600px;
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  
  background: #ffffff;
  align-items: center;
  gap: 20px;

}


.item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border-radius: 12px;
  gap: 25px;
  }

@media (max-width: 1450px) {
  .item {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 950px) {
  .item {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .item {
    display: flex;
    flex-direction: column;
  }

}

  .h2 {

  }
  .h3home {
    text-align: center;
  }

  .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  img {
    width: auto;
    max-width: 300px;
    height: 300px;
    border-radius: 12px;

    @media screen and (max-width: 750px) {
      height: auto;
    }
  }

  button {

    color: white;
    padding: 10px;
    font-weight: 500;
    font-size: 1em;
    font-family: inherit;
    background: #2a932a;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.25s;
  }

.btn:hover {
  background: #52f151;
  color: #000000;
}

.price {
  font-weight: bold;
}